

      <!-- Row for Featured Post and Most Recent Book -->
      <div class="row mb-4 mt-3"> 

        <!-- Ulimate Guides -->
        <%  @ultimate_guides.each do |ultimate_guide| %>

          <div class="col-lg-6 d-flex">
            <div class="card shadow-sm w-100">
              <%= link_to blog_post_path(ultimate_guide) do %>
                <%= image_tag ultimate_guide.main_image, loading: "lazy", alt: ultimate_guide.main_image_alt_text, class: "card-img-top" %> 
              <% end %>

              <div class="card-body d-flex flex-column justify-content-between">
                <h2 class="card-title"><%= link_to ultimate_guide.title.titleize, blog_post_path(ultimate_guide) %></h2>
                <p class="featured-post__description"><%= MarkdownRenderer.render(ultimate_guide.description) %></p>
                <div class="card-reading-time d-flex align-items-center">
                    <i class="bi bi-stopwatch-fill"></i> <%= read_time(ultimate_guide.content) %>
                </div>
              </div>
            </div>
          </div>

        <% end %>

      </div>

      <!-- Essential Posts -->
      <div class="row">
        <h2 class="tile-post__sub-title w-100">Essential Guides</h2>
      </div>

      <%= render partial: 'shared/latest_posts', locals: { posts: @essential_guides }%>

      <!-- Latest Posts -->
      <div class="row">
        <h2 class="tile-post__sub-title w-100">Latest Posts</h2>
      </div>

      <%= render partial: 'shared/latest_posts', locals: { posts: @regular_posts }%>