<!-- Main Image -->
<div class="row">
  <div class="col-12">
    <div class="post-show__main-image">
      <% if @post.main_image.attached? %>
        <%= image_tag @post.main_image, alt: @post.main_image_alt_text, loading: "lazy", class: "img-fluid mx-auto d-block rounded" %>
      <% end %>
    </div>
  </div>
</div>

<!-- Article -->
<div class="row justify-content-center">
  <div class="col-md-10">
    <article>
      <!-- Metadata -->
      <div class="card mb-4">      
        <div class="card-body">
          <h1 class="post-show__title"><%= @post.title %></h1>
          <hr>
          
          <div class="post-show__metadata">
            <% if @post.post_author.present? %>
              <%= link_to @post.post_author.name, blog_post_author_path(@post.post_author) %>
            <% else %>
              <%= @post.writer %>
            <% end %> 
            on <%= @post.updated_at.strftime('%B %d, %Y') %> |
            <i class="bi bi-stopwatch-fill"></i> <%= read_time(@post.content) %>

            <% if policy(@post).edit? %>
              <%= link_to edit_blog_post_path(@post), 
                class: "post-show__metadata-edit-link", 
                data: { toggle: "tooltip", placement: "top" }, 
                title: "Edit post" do %>
                | <i class="bi bi-gear-wide-connected"></i>
              <% end %>
            <% end %>
          </div>

          <!-- Categories -->
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb" itemscope itemtype="https://schema.org/BreadcrumbList">
              <% @post.categories.each_with_index do |category, index| %>
                <li class="breadcrumb-item" itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
                  <%= link_to blog_category_path(category), itemprop: "item" do %>
                    <span itemprop="name"><%= category.name %></span>
                  <% end %>
                  <meta itemprop="position" content="<%= index + 1 %>" />
                </li>
              <% end %>
            </ol>
          </nav>
        </div>      
      </div>

      <!-- Main Content -->
      <div class="post-show__article">
        <div data-spy="scroll" data-target="#toc" data-offset="0">
          <%= raw @post.content %>      
        </div> 
      </div>

      <!-- Email capture -->
      <div class="card mt-5">
        <div class="card-body">
          <%= turbo_frame_tag 'writer_engagement_form' do %>
            <%= form_for WriterEngagement.new, url: blog_post_writer_engagements_path(@post), method: :post do |f| %>
              <div class="form-group">
                <p class="lead">Join our community group of erotic fiction fans and get the hottest, most exciting stories and news sent right to your inbox. Our weekly newsletter is your key to discovering secret fantasies, hidden desires, and a world of stories that will thrill and excite you.</p>
                <%= f.email_field :email, class: 'form-control mt-4', placeholder: "Add your email...", required: true %>
              </div>
              <div class="d-grid gap-2">
                <%= f.submit "Subscribe", class: 'btn btn-outline-primary mt-4' %>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>

    </article>
  </div>
</div>


















