<!-- Main Image -->
<div class="row justify-content-center">
  <div class="col-lg-10">
    <div class="post-show__main-image">
      <% if @post.main_image.attached? %>
        <%= image_tag @post.main_image, alt: @post.main_image_alt_text, class: "img-fluid mx-auto d-block rounded" %>
      <% end %>
    </div>
  </div>
</div>

<!-- Article -->
  <div class="row justify-content-center">
    <div class="col-lg-6 col-md-8">
      <article>

<div class="card mb-4">      
  <div class="card-body">
      <h1 class="post-show__title"><%= @post.title.titleize %></h1>
        <hr>
        <div class="post-show__metadata">

          <%= @post.writer %> on <%= @post.updated_at.strftime('%B %d, %Y') %> | 
      
          <i class="bi bi-stopwatch-fill"></i> <%= read_time(@post.content) %>
          
          <% if policy(@post).edit? %>
       
            <%= link_to edit_blog_post_path(@post), 
              class: "post-show__metadata-edit-link", 
              data: { toggle: "tooltip", placement: "top" }, 
              title: "Edit post" do %>
              | <i class="bi bi-gear-wide-connected"></i>
            <% end %>

          <% end %>

        </div>

        <div class="post-show__categories">
          <% @post.categories.each_with_index do |category, index| %>
            <%= link_to category.name, blog_category_path(category), class: "post-show__categories-link" %>
            <% unless index == @post.categories.size - 1 %>
              |
            <% end %>
          <% end %>
        </div>



  </div>      
</div>

        <div class="post-show__article">
          <div data-spy="scroll" data-target="#toc" data-offset="0">
            <%= raw @post.content %>      
          </div> 
        </div>

      </article>        
    </div>
  </div>

















