<div class="chat-sessions">
  <h1>All Chat Sessions</h1>
  <%= link_to 'New Chat Session', new_chat_session_path, class: 'btn btn-primary mb-3' %>
   <%= link_to 'Custom Instructions', chat_custom_instructions_path, class: 'btn btn-secondary mb-3' %>
  <div class="list-group">
    <% @chat_sessions.each do |chat_session| %>
      <div class="list-group-item">
        <div class="d-flex justify-content-between align-items-center">
          <%= form_with model: chat_session, method: :patch, local: true, class: 'me-3' do |form| %>
            <% if chat_session.session_name.present? %>
              <%= form.text_field :session_name, value: chat_session.session_name.titleize, class: 'form-control d-inline-block w-auto' %>
            <% else %>
              <%= form.text_field :session_name, value: chat_session.id, class: 'form-control d-inline-block w-auto' %>
            <% end %>
            <%= form.submit 'Update', class: 'btn btn-outline-secondary ms-2' %>
          <% end %>
          
          <div class="d-inline-flex">
            <%= link_to 'Show', chat_session_path(chat_session), class: 'btn btn-outline-primary me-2' %> 
            <%= button_to 'Delete', chat_session_path(chat_session), method: :delete, form: { data: { turbo_confirm: "Are you sure this should be spanked?" }}, class: 'btn btn-outline-danger' %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
