<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="chat-session">
        <h1 class="text-center">Chat Session: <%= @chat_session.session_name.presence.titleize || @chat_session.id %></h1>
        <div class="chats">
          <% @chats.each do |chat| %>
            <div class="<%= chat.role %>">
              <%= chat.content %>
            </div><div class="chats">
            <% @chats.each do |chat| %>
              <% if chat.role == 'assistant' %>
                <div class="alert alert-primary" role="alert">
                  <%= chat.content %>
                </div>
              <% else %>
                <div class="<%= chat.role %> alert alert-light my-1" role="alert">
                  <%= chat.content %>
                </div>
              <% end %>
            <% end %>
          </div>

          <% end %>
        </div>
        <div class="sticky-bottom bg-body-tertiary my-5">
          <%= form_with(model: [ @chat_session, @chat ], local: true) do |form| %>
            <div class="d-grid gap-2">
              <%= form.text_area :content, class: 'form-control', aria: { label: 'Type your message here' }, placeholder: 'Type your message here' %>
              <%= form.submit "Send", class: 'btn btn-outline-secondary' %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

