<div class="card">
  <div class="card-body">
    <%= form_with(model: [:publishing, author], url: publishing_authors_path, local: true) do |form| %>
      <% if author.errors.any? %>
        <div class="form__group" style="color: red">
          <h2><%= pluralize(author.errors.count, "error") %> prohibited this author from being saved:</h2>

          <ul>
            <% author.errors.each do |error| %>
              <li class="form__data-item"><%= error.full_message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <div class="form__group">
        <%= form.label :name, class: "form__label" %>
        <%= form.text_field :name, class: "form__input" %>
      </div>

      <div>
        <%= form.submit class: "form__submit" %>
      </div>
    <% end %>
  </div>
</div>  
