<footer class="py-3 my-4">
    <ul class="nav justify-content-center border-bottom pb-3 mb-3">
      <li class="nav-item"><%= link_to 'About', about_path, class: 'nav-link px-2 text-muted' %></li>
      <li class="nav-item"><%= link_to 'Blog', posts_path, class: 'nav-link px-2 text-muted' %></li>
      <li class="nav-item"><%= link_to 'Books', books_path, class: 'nav-link px-2 text-muted' %></li>
      <li class="nav-item"><%= link_to 'Authors', authors_path, class: 'nav-link px-2 text-muted' %></li>
      <li class="nav-item">
        <% if user_signed_in? %>
          <%= link_to 'Log out', destroy_user_session_path, method: :delete, class: 'nav-link px-2 text-muted' %>
        <% else %>
          <%= link_to 'Log in', new_user_session_path, class: 'nav-link px-2 text-muted' %>
        <% end %>
      </li>
    </ul>
  <p class="text-center text-muted">&copy; <%= Time.current.year %> SeaCrow Book</p>
</footer>
