<nav class="navbar navbar-expand-lg branded-bg">
  <div class="container-fluid">

      <svg width="50" height="50"
      version="1.1"
      viewBox="0.00 0.00 331.00 315.00"
      id="svg46"
      sodipodi:docname="Seacrow Logo.svg"
      inkscape:version="1.2.1 (9c6d41e410, 2022-07-14)"
      xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape"
      xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd"
      xmlns="http://www.w3.org/2000/svg"
      xmlns:svg="http://www.w3.org/2000/svg">
      <defs
        id="defs50" />
      <sodipodi:namedview
        id="namedview48"
        pagecolor="#ffffff"
        bordercolor="#000000"
        borderopacity="0.25"
        inkscape:showpageshadow="2"
        inkscape:pageopacity="0.0"
        inkscape:pagecheckerboard="0"
        inkscape:deskcolor="#d1d1d1"
        showgrid="false"
        inkscape:zoom="2.631746"
        inkscape:cx="144.58082"
        inkscape:cy="152.7503"
        inkscape:window-width="1920"
        inkscape:window-height="1009"
        inkscape:window-x="-8"
        inkscape:window-y="433"
        inkscape:window-maximized="1"
        inkscape:current-layer="svg46" />
      <g
        id="g913"
        transform="translate(7.9794875,-5.6996382)"
        style="display:inline">
        <path
          fill="#010101"
          d="m 150.74,182.76 q -15.57,10.55 -31.74,12.89 -10.63,1.54 -19.26,-3.47 -6.13,-3.56 -11.55,-7.95 -0.37,-0.3 -0.52,-0.75 a 0.29,0.29 0 0 1 0.31,-0.38 c 16.16,1.83 31.29,-2.52 45.72,-10.59 q 0.02,-0.01 0.03,-0.04 0.02,-0.13 0.03,-0.26 0.01,-0.13 -0.12,-0.1 c -10.4,3.01 -20.95,5.83 -31.6,6.81 q -5.88,0.54 -12.33,-0.43 C 81.83,177.29 77.2,173.23 72.1,167.76 q -2.59,-2.78 -4.89,-5.86 -1.11,-1.49 0.68,-0.99 c 17.32,4.88 34.11,3.36 51.15,-1.86 q 1.23,-0.37 -0.05,-0.24 c -12.9,1.27 -25.55,1.78 -38.29,0.69 q -3.99,-0.34 -9.81,-2.24 -8.62,-2.82 -13.01,-9.44 -3.94,-5.96 -7.38,-12.86 a 0.42,0.41 75.5 0 1 0.35,-0.6 q 0.42,-0.03 0.8,0.17 c 4.18,2.14 8.35,4.66 12.78,6.12 q 19.46,6.43 40.34,3.51 1.04,-0.14 -0.01,-0.21 -19.05,-1.3 -37.26,-6.66 -6.41,-1.89 -13.37,-6.8 C 46.37,125.01 41.62,115.16 39.66,105.95 a 0.51,0.51 0 0 1 0.4,-0.61 q 0.45,-0.1 0.78,0.24 c 4,4.17 8.78,7.64 13.92,10.29 q 19.04,9.81 41.15,11.8 0.17,0.02 0.2,-0.15 l 0.04,-0.25 Q 96.16,127.21 96.1,127.2 81.66,123.6 68.46,117.89 55.43,112.25 46.58,104.58 C 38.38,97.46 34.94,86.96 33.83,76.43 q -0.45,-4.26 1.81,-0.62 c 6.48,10.39 18.53,19.08 29.81,24.53 q 7.56,3.65 14.78,6.81 1.75,0.77 0.13,-0.25 -6.19,-3.88 -13.05,-8.24 C 49.55,87.35 30.41,69.72 33.81,46.16 q 0.3,-2.09 1.04,-0.12 c 6.36,16.89 22.12,31.87 36.82,40.61 q 5.52,3.28 10.51,6.53 0.05,0.04 0.09,-0.02 l 0.15,-0.21 Q 82.62,92.67 82.34,92.46 74.62,86.67 70.67,83.26 58.14,72.44 48.33,59.49 C 41.44,50.39 33.21,33.81 39.77,22.89 q 1.15,-1.92 1.15,0.32 -0.01,5.63 2.18,10.91 8.22,19.74 25.03,34 19,16.11 37.26,25.59 c 5.88,3.05 12.01,6.34 17.51,9.9 q 13.23,8.56 18.69,22.75 2.51,6.52 4.99,13.09 c 4.89,12.96 13.94,27 25.66,34.04 q 8.29,4.97 18.21,3.61 a 0.8,0.79 -10.2 0 1 0.89,0.61 l 1.08,4.8 q 0.04,0.16 0.11,0.18 0.14,0.05 0.28,0.01 0.08,-0.03 0.08,-0.11 0.8,-9.34 -2.67,-17.49 -3.06,-7.16 -5.49,-14.09 -4.78,-13.62 -1.51,-27.89 c 3.82,-16.64 16.14,-26.28 33.52,-26.77 3.97,-0.11 7.99,0.7 11.68,2.22 6.94,2.87 12.63,0.06 19.59,-1.63 6.34,-1.54 11.29,3.37 9.61,9.88 a 0.53,0.52 29.4 0 1 -0.88,0.24 l -2.15,-2.1 a 0.94,0.94 0 0 0 -0.77,-0.27 c -7.11,0.73 -13.18,3.31 -19.53,6.04 q -7.49,3.21 -11.33,7.29 c -1.54,1.64 -5.56,1.7 -7.74,1.74 -7.65,0.13 -13.64,5.45 -14.92,12.67 q -0.87,4.84 1.14,0.36 1.61,-3.59 6.2,-6.29 3.03,-1.78 0.62,0.77 c -5.52,5.83 -2.96,14.13 -0.44,20.89 3.7,9.9 10.18,18.33 12.08,28.91 2.43,13.57 -2.14,27.88 -10.17,39.52 q -10.45,15.14 -28.69,21.49 -8.3,2.89 -19.5,3.09 -15.01,0.27 -28.79,-4.53 -0.81,-0.28 -0.49,-1.08 6.16,-15.73 17.25,-27.57 4.96,-5.29 9.89,-10.63 0.12,-0.12 0,-0.24 v -0.01 q -0.15,-0.15 -0.31,-0.02 c -9.96,8.19 -19.72,16.07 -33.43,11.04 q -7.46,-2.73 -12.79,-6.59 -1.1,-0.8 0.26,-0.77 c 14.29,0.29 27.58,-8.03 37.75,-17.83 q 0.94,-0.91 -0.14,-0.18 z m 68.66,-75.5 q -1.66,-0.1 -0.3,-1.06 c 2.36,-1.65 1.74,-4.35 -1.47,-4.17 q -1.22,0.07 -1.48,1.26 -0.39,1.79 0.31,3.46 0.24,0.58 -0.24,0.99 c -1.27,1.07 -2.67,2.48 -2.14,4.24 q 0.36,1.2 1.8,1.45 c 1.64,0.28 3.63,0.77 5.11,-0.19 q 9.72,-6.35 21.51,-9.64 a 0.27,0.26 77.4 0 0 0.19,-0.31 l -0.05,-0.25 q -0.01,-0.06 -0.07,-0.05 -8.37,1.02 -18.93,3.85 -2.04,0.55 -4.24,0.42 z"
          id="path26"
          style="display:inline" />
        <path
          fill="#010101"
          d="M 154.24,97.76 C 149.28,86.77 137.31,82.65 126.04,81.67 q -0.1,0 -0.1,-0.11 v -0.3 a 0.54,0.53 -4.2 0 1 0.47,-0.54 c 11,-1.28 22.15,-4.32 27.4,-14.59 q 3.72,-7.29 4.74,-16.16 0.01,-0.08 0.1,-0.08 h 0.25 q 0.39,0.01 0.43,0.4 c 1.08,12.68 6.04,24.26 19.14,27.72 q 5.19,1.38 10.94,2.44 a 0.51,0.51 0 0 1 0.23,0.9 q -0.64,0.52 -1.42,0.64 -4.71,0.74 -8.92,1.95 c -13.64,3.95 -18.61,15.9 -20.19,29.22 q -0.04,0.42 -0.43,0.27 -0.11,-0.05 -0.23,-0.14 -0.05,-0.05 -0.06,-0.11 -0.94,-8.31 -4.15,-15.42 z"
          id="path28" />
        <path
          fill="#010101"
          d="m 261.36,95.81 c 9.01,-9.8 16.85,-22.96 16.38,-36.47 q -0.01,-0.26 0.23,-0.36 0.05,-0.02 0.1,-0.01 0.14,0.04 0.18,0.18 c 3.07,10.34 2.71,23.45 -6.18,31.05 q -4.54,3.89 -10.24,6.28 -1.77,0.75 -0.47,-0.67 z"
          id="path30" />
        <path
          fill="#010101"
          d="m 243.65,124.53 c -1.65,0.03 -3.47,0.52 -5.08,0.33 q -2.62,-0.3 -0.06,-0.91 3.37,-0.81 6.63,-2.29 c 15.35,-6.97 28.01,-17.77 34.26,-33.02 q 0.84,-2.05 0.83,0.16 c -0.05,9.42 -1.97,17.75 -9.09,24.45 q -11.69,11.01 -27.49,11.28 z"
          id="path32" />
        <path
          fill="#010101"
          d="m 273.74,121.92 q -2.6,8.02 -7.9,11.69 c -8.32,5.78 -20.31,6.44 -29.93,4.25 q -2.12,-0.48 -4.03,-1.46 -0.72,-0.37 0.08,-0.48 c 1.74,-0.25 3.48,0.19 5.25,0.02 14.42,-1.38 28.66,-9.42 37.76,-20.84 q 0.95,-1.19 0.75,0.32 c -0.29,2.27 -1.29,4.36 -1.98,6.5 z"
          id="path36" />
        <path
          fill="#010101"
          d="m 231.54,148.96 q 14.55,1.32 26.36,-5.09 c 2.91,-1.59 5.62,-4.15 8.41,-6.17 q 0.46,-0.33 1.04,-0.24 a 0.52,0.51 -72.7 0 1 0.38,0.73 c -3.32,7.28 -7.06,14.02 -15.87,14.91 q -11.12,1.13 -19.45,-3.01 -0.64,-0.31 -1,-0.93 a 0.14,0.14 0 0 1 0.13,-0.2 z"
          id="path38" />
        <path
          fill="#010101"
          d="m 232.57,162.43 c 7.59,0.79 14.39,-0.71 20.32,-4.97 q 1.01,-0.73 2.2,-0.67 0.73,0.04 0.36,0.67 c -2.63,4.48 -7.19,10.31 -12.38,9.85 q -6.07,-0.54 -10.83,-4.01 -1.45,-1.05 0.33,-0.87 z"
          id="path40" />
        <path
          fill="#010101"
          d="m 242.73,171.92 q 1.17,-0.59 0.54,0.55 -0.56,1.02 -1.49,1.71 -5.95,4.42 -10.36,-1.21 a 0.31,0.31 0 0 1 0.4,-0.45 q 4.43,2.65 10.91,-0.6 z"
          id="path42" />
        <path
          fill="#010101"
          d="m 43.9,263.63 q 17.43,-22.75 47.51,-23.88 15.97,-0.59 32,4.39 c 7.62,2.36 15.28,4.99 22.9,6.28 q 20.7,3.5 41.15,-2.13 9.89,-2.72 19.86,-5.32 c 25.27,-6.57 52.1,-1.11 68.12,20.59 q 2.51,3.39 -0.69,0.65 -2.99,-2.57 -6.87,-4.11 -21.6,-8.62 -43.89,-4.58 -8.61,1.56 -19.37,5 -16.77,5.35 -17.86,5.61 -29.62,7.1 -60.16,-2.96 c -8.1,-2.67 -17.08,-5.77 -25.82,-7.45 q -22.91,-4.39 -45.18,2.88 -6.17,2.01 -11.06,5.67 -2.66,1.99 -0.64,-0.64 z"
          id="path44" />
      </g>
    </svg>
    <%= link_to 'SeaCrow Books', root_path, class: 'navbar-brand' %>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav me-auto">
        <li class="nav-item"><%= link_to 'About', about_path, class: 'nav-link' %></li>
        <li class="nav-item"><%= link_to 'Blog', blog_posts_path, class: 'nav-link' %></li>
        <!-- Authors dropdown -->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="booksDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Authors
          </a>
          <ul class="dropdown-menu" aria-labelledby="booksDropdown">
            <% @all_authors.each do |author| %>
              <li><a class="dropdown-item" href="<%= publishing_author_path(author) %>"><%= author.name.titleize %></a></li>
            <% end %>
          </ul>
        </li>
        <!-- Books dropdown -->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="booksDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Books
          </a>
          <ul class="dropdown-menu" aria-labelledby="booksDropdown">
            <% @all_books.each do |book| %>
              <li><a class="dropdown-item" href="<%= publishing_book_path(book.slug) %>"><%= book.title %></a></li>
            <% end %>
          </ul>
        </li>
      </ul>
      
      <!-- User dropdown on the right -->
      <% if user_signed_in? %>
        <ul class="navbar-nav">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              <%= current_user.full_name %>
            </a>
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="userDropdown">
              <li>
                <%= link_to dashboard_path, class: 'dropdown-item' do %>
                  <i class="bi bi-speedometer2"></i> Dashboard
                <% end %>  
              </li>
              <li>
                <%= link_to chat_sessions_path, class: 'dropdown-item' do %>
                  <i class="bi bi-chat-dots"></i> Chat
                <% end %>  
              </li>
              <li>
                <%= link_to chat_custom_instructions_path, class: 'dropdown-item' do %>
                  <i class="bi bi-body-text"></i> Custom Instuctions
                <% end %>  
              </li>
              <li>
                <%= link_to ai_models_path, class: 'dropdown-item' do %>
                  <i class="bi bi-cpu"></i> Ai Models
                <% end %>  
              </li>
              <li>
                <%= link_to blog_image_resources_path, class: 'dropdown-item' do %>
                  <i class="bi bi-image"></i> Images
                <% end %>  
              </li>
              <li>
                <%= link_to tags_path, class: 'dropdown-item' do %>
                  <i class="bi bi-tag"></i> Tags
                <% end %>  
              </li>

              <li class="dropdown-divider"></li>

              <li>
                <%= link_to edit_user_registration_path, class: 'dropdown-item' do %>
                  <i class="bi bi-person"></i> Edit Profile
                <% end %>
              </li>
              <li>
                <%= link_to destroy_user_session_path, data: { turbo_method: :delete }, class: 'dropdown-item' do %>
                  <i class="bi bi-box-arrow-right"></i> Log Out
                <% end %>
              </li>  
            </ul>
          </li>
        </ul>
      <% end %>
    </div>
  </div>
</nav>
