<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <%= link_to 'Navbar', root_path, class: 'navbar-brand' %>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav me-auto">
        <li class="nav-item"><%= link_to 'About', about_path, class: 'nav-link' %></li>
        <li class="nav-item"><%= link_to 'Blog', posts_path, class: 'nav-link' %></li>
        <!-- Books dropdown -->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="booksDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Books
          </a>
          <ul class="dropdown-menu" aria-labelledby="booksDropdown">
            <% @all_books.each do |book| %>
              <li><a class="dropdown-item" href="<%= book_path(book.slug) %>"><%= book.title %></a></li>
            <% end %>
          </ul>
        </li>
      </ul>
      
      <!-- User dropdown on the right -->
      <% if user_signed_in? %>
        <ul class="navbar-nav">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              <%= current_user.full_name %>
            </a>
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="userDropdown">
              <li><%= link_to 'Dashboard', dashboard_path, class: 'dropdown-item' %></li>
              <li><%= link_to 'Edit Profile', edit_user_registration_path, class: 'dropdown-item' %></li> <!-- New link for Edit Profile -->
            </ul>
          </li>
        </ul>
      <% end %>
    </div>
  </div>
</nav>
