<%= form_with model: @chat_custom_instruction, local: true do |form| %>

  <div class="mb-3">
    <%= form.label :name, class: "form-label" %>
    <%= form.text_field :name, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= form.label :instruction_text, class: "form-label" %>
    <%= form.text_area :instruction_text, 
                       class: "form-control", 
                       data: { 
                         controller: "resize",
                         action: "input->resize#resizeOnInput"
                       } %>
  </div>

  <!-- Status Selection -->
  <div class="mb-3">
    <%= form.label :status, class: 'form-label' %>
    <%= form.select :status, ChatCustomInstruction.statuses.map { |key, value| [key.gsub('visibility_', '').titleize, value] }, {}, { class: 'form-select' } %>
    <p><%= 'This instruction will be set to ' + (@chat_custom_instruction.status || 'public').titleize + '.' %></p>
  </div>


  <div class="text-center">
    <%= form.submit "Save Changes", class: "btn btn-primary" %>
  </div>

<% end %>
