<div class="mt-5 row justify-content-center">
    <div class="col-lg-10">
        <div class="row">

            <!-- Left column for the book cover and related titles -->
            <div class="col-lg-3">
              
              <!-- Book Cover -->
              <% if @book.cover.attached? %>
                  <%= image_tag @book.cover, alt: @book.title, class: "book-cover img-fluid mb-4" %>
              <% else %>
                  <p>No Cover</p>
              <% end %>
              
              <div class="book-details"><!-- Book Details -->
                <h3>Book Details</h3>
                <table class="table book-details-table">
                    <tbody>
                        <tr style="border-top: 1px solid #dee2e6;">
                            <td>Published:</td>
                            <td><%= @book.publication_date.strftime("%B %d, %Y") %></td>
                        </tr>
                        <tr>
                            <td>Genre:</td>
                            <td>
                                <% @book.genres.each do |genre| %>
                                    <span class="gray-link"><%= link_to genre.name, genre_path(genre) %></span>
                                <% end %>
                            </td>
                        </tr>
                        <tr>
                            <td>Format:</td>
                            <td>Digital</td>
                        </tr>
                    </tbody>
                </table>
              </div>

                <!-- Other titles within the left column -->
                <div class="other-titles mt-4 custom-gray-bg"><!-- Other titles -->
                    <h3>Other titles you might like</h3>
                    <div class="row">
                        <% @related_books.each do |related_book| %>
                            <div class="col-4">
                                <%= link_to book_path(related_book) do %>
                                    <%= image_tag related_book.cover, alt: related_book.title, class: "book-cover img-fluid mb-4 clickable-image" %>
                                <% end %>
                            </div>
                        <% end %>
                    </div>
                </div>


            </div>

            <!-- Right column  for the book details -->
            <div class="col-lg-9">
                <h1><%= @book.title %></h1>
                <p class="gray-link lead"><%= link_to @book.author.name, author_path(@book.author) %></p>
                <div><%= raw @book.description %></div>
                <% if policy(@book).edit? %>
                    <%= link_to 'Edit', edit_book_path(@book) %>
                <% end %>
                <% if policy(@book).destroy? %>
                    <%= link_to 'Delete', @book, method: :delete, data: { confirm: 'Are you sure?' } %>
                <% end %>
            </div>

        </div> <!-- end of inner row -->
    </div> <!-- end of col-lg-10 -->
</div> <!-- end of outer row -->
