<%= form_with(model: @persona, local: true) do |form| %>

  <% if persona.errors.any? %>
    <div class="alert alert-danger">
      <h4 class="alert-heading"><%= pluralize(persona.errors.count, "error") %> prohibited this persona from being saved:</h4>
      <ul>
      <% persona.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-3">
    <%= form.label :name, class: 'form-label' %>
    <%= form.text_field :name, class: 'form-control' %>
  </div>

  <div class="mb-3">
    <%= form.label :ai_version, 'AI Version', class: 'form-label' %>
    <%= form.select :ai_version, ['chatGPT-4.0', 'chatGPT-3.5'], {}, class: 'form-select' %>
  </div>

  <div class="mb-3">
    <%= form.label :content_type, class: 'form-label' %>
    <%= form.select :content_type, Persona.content_types.keys.map { |key| [key.titleize, key] }, {}, class: 'form-select' %>
  </div>

  <div class="mb-3">
    <%= form.label :description, class: 'form-label' %>
    <%= form.text_area :description, class: 'form-control', data: { controller: "textarea" } %>
  </div>

  <%= form.fields_for :persona_versions do |version_form| %>
    <div class="mb-3">
      <%= version_form.label :number, 'Version Number', class: 'form-label' %>
      <%= version_form.number_field :number, class: 'form-control', placeholder: "e.g. 1.0" %>
      <small class="form-text text-muted">Enter in the format X.X, e.g., 1.0, 2.1</small>
    </div>

    <div class="mb-3">
      <%= version_form.label :document_link, 'Document URL', class: 'form-label' %>
      <%= version_form.text_field :document_link, class: 'form-control' %>
    </div>

  <% end %>

  <div class="d-grid gap-2">
    <%= form.submit class: 'btn btn-primary' %>
  </div>

<% end %>
