 <% if current_user.management? %>
    <div class="row justify-content-center">
    <div class="col-lg-10">
        <div class="row mt-5">

            <!-- Users -->
            <div class="col-lg-6">
                    <!-- Card for Users -->
                    <div class="card h-100">
                        <div class="card-body">
                            <h2 class="card-title">Users</h2>
                            <ul>
                            <% @users.each do |user| %>
                                <li>
                                <!-- Check if user has permission to view the user's show page -->
                                <% if policy(user).show? %>
                                    <%= link_to user.full_name, user_path(user) %> 
                                <% else %>
                                    <%= user.full_name %> <!-- Just display the name without link -->
                                <% end %>
                                    | <%= user.role %>
                                    | <%= user.email %>
                                <!-- Check if user has permission to edit the user -->
                                <% if policy(user).update? %>
                                    | <%= link_to 'Edit', edit_user_path(user) %>
                                <% end %>

                                <!-- Check if user has permission to delete the user -->
                                <% if policy(user).destroy? %>
                                    | <%= link_to 'Delete', user_path(user), method: :delete, data: { "turbo-method": :delete, "turbo_confirm": 'Are you sure?' } %>
                                <% end %>
                                </li>
                            <% end %>
                            </ul>

                            <% config = SiteConfig.first %>
                            <% if current_user.admin? %>
                            <%= button_to (config.allow_new_accounts ? "Turn off account creation" : "Turn on account creation"), update_account_creation_permission_path, method: :patch, class: 'btn btn-sm btn-outline-danger' %>
                            <% end %>

                        </div>
                    </div>
            </div>

            <!-- Emails -->
                        <div class="col-lg-6">
                    <!-- Card for Users -->
                    <div class="card h-100">
                        <div class="card-body">
                            <h2 class="card-title">Reader Emails</h2>
                            <ul>
                                <% @captures.each do |capture| %>
                                    <li>
                                        <%= capture.email %>
                                        <%= link_to email_capture_path(capture), method: :delete, data: { turbo_confirm: 'Are you sure?', "turbo-method": :delete } do %>
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                                                <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z"/>
                                                <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z"/>
                                            </svg>
                                        <% end %>
                                    </li>
                                <% end %>
                            </ul>
                        </div>
                    </div>
            </div>
        </div>
    </div>
    </div>
<% end %>

