<h2>Books</h2>
<%= link_to 'New Book', new_book_path, class: 'btn btn-sm btn-outline-primary' if policy(Book.new).new? %>

<ul>
  <% @books.each do |book| %>
    <li>
      <%= link_to book.title, book_path(book) %> | 
      <%= link_to 'Edit', edit_book_path(book) if policy(book).update? %> |
      <%= link_to 'Delete', book_path(book), method: :delete, data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } if policy(book).destroy? %>
    </li>
  <% end %>
</ul>

<h2>Genres</h2>
<%= link_to 'New Genre', new_genre_path, class: 'btn btn-sm btn-outline-primary' if policy(Genre.new).new? %>
<ul>
  <% @genres.each do |genre| %>
    <li>
      <%= link_to genre.name, genre_path(genre) %> | 
      <%= link_to 'Edit', edit_genre_path(genre) if policy(genre).update? %> |
      <%= link_to 'Delete', genre_path(genre), method: :delete, data: { confirm: 'Are you sure?' } if policy(genre).destroy? %>
    </li>
  <% end %>
</ul>

<h2>Categories</h2>
<%= link_to 'New Category', new_category_path, class: 'btn btn-sm btn-outline-primary' if policy(Category.new).new? %>
<ul>
  <% @categories.each do |category| %>
    <li>
      <%= link_to category.name, category_path(category) %> | 
      <%= link_to 'Edit', edit_category_path(category) if policy(category).update? %> |
      <%= link_to 'Delete', category_path(category), method: :delete, data: { confirm: 'Are you sure?' } if policy(category).destroy? %>
    </li>
  <% end %>
</ul>

<h2>Posts</h2>
<%= link_to 'New Post', new_post_path, class: 'btn btn-sm btn-outline-primary' if policy(Post.new).new? %>
<ul>
  <% @posts.each do |post| %>
    <li>
      <%= link_to post.title, post_path(post) %> | 
      <%= link_to 'Edit', edit_post_path(post) if policy(post).update? %> |
      <%= link_to 'Delete', post_path(post), method: :delete, data: { confirm: 'Are you sure?' } if policy(post).destroy? %> |
      Views: <%= Ahoy::Event.where(name: "Post:#{post.id}").count %>
    </li>
  <% end %>
</ul>


<!-- Toggles account creation -->
<% config = SiteConfig.first %>
<%= button_to (config.allow_new_accounts ? "Turn off account creation" : "Turn on account creation"), update_account_creation_permission_path, method: :patch, class: 'btn btn-sm btn-outline-danger' %>


<h2>Users</h2>
<ul>
  <% @users.each do |user| %>
    <li>
      <!-- Check if user has permission to view the user's show page -->
      <% if policy(user).show? %>
        <%= link_to user.full_name, user_path(user) %> <!-- Link to user's show page -->
      <% else %>
        <%= user.full_name %> <!-- Just display the name without link -->
      <% end %>
      
      <!-- Check if user has permission to edit the user -->
      <% if policy(user).update? %>
        | <%= link_to 'Edit', edit_user_path(user) %>
      <% end %>
      
      <!-- Check if user has permission to delete the user -->
      <% if policy(user).destroy? %>
        | <%= link_to 'Delete', user_path(user), method: :delete, data: { confirm: 'Are you sure?' } %>
      <% end %>
    </li>
  <% end %>
</ul>


<%= line_chart Ahoy::Visit.group_by_month(:started_at).count %>
