<%= form_with(model: @book_collection, local: true) do |form| %>
  <% if @book_collection.errors.any? %>
    <div id="error_explanation" class="alert alert-danger">
      <h2><%= pluralize(@book_collection.errors.count, "error") %> prohibited this book collection from being saved:</h2>
      <ul>
        <% @book_collection.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-3">
    <%= form.label :name, class: 'form-label' %>
    <%= form.text_field :name, class: 'form-control' %>
  </div>

  <div class="actions">
    <%= form.submit class: 'btn btn-primary' %>
  </div>
<% end %>
