<%= form_with(model: post) do |f| %>
  <% if post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>
      <ul>
        <% post.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>

  <%= f.label :meta_title, "Meta Title (leave blank to use title)" %>
  <%= f.text_field :meta_title %>

   <%= f.label :meta_description, "Meta Description (limit 120 characters)" %>
  <%= f.text_field :meta_description, maxlength: 120, rows: 4, class: 'form-control', placeholder: 'Enter meta description...' %>
<div class="field">
  <%= f.label :category_ids, "Category" %>
  <%= f.collection_check_boxes :category_ids, Category.all, :id, :name %>
</div>

<!-- Sets the url for the post, if left blank it defaults to the post title -->
<div class="field">
  <%= f.label :custom_url, "Custom URL" %>
  <%= f.text_field :custom_url, placeholder: 'Leave blank to use title' %>
</div>

  <div class="field">
    <%= f.label :content %>
    <%= f.text_area :content %>
  </div>

  <div class="field">
    <%= f.label :writer %>
    <%= f.text_field :writer %>
  </div>

  <!-- Main Post Image -->
  <div class="field">
    <%= f.label :main_image %>
    <%= f.file_field :main_image %>
  </div>

<!-- Determines is a post is published or unpublished -->
<% if @post.published? %>
  <p>This post is published</p>
  <%= f.label :published, "Unpublish?" %>
  <%= f.check_box :published, {}, false, true %> <!-- this will uncheck the box if checked by the user -->
<% else %>
  <p>This post is unpublished</p>
  <%= f.label :published, "Publish?" %>
  <%= f.check_box :published %>
<% end %>


  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
