<div class="mt-5 row justify-content-center">
    <div class="col-lg-10">

        <div class="row d-flex align-items-stretch"> 

            <div class="col-lg-6"> 
              <div class="featured-post">
                <%= link_to post_path(@featured_post), class: "image-link" do %>
                  <%= image_tag @featured_post.main_image, alt: @featured_post.main_image_alt_text, class: "img-fluid clickable-image featured-post__image" %>
                <% end %>

                <h2 class="featured-post__title"><%= link_to @featured_post.title.titleize, post_path(@featured_post), class: "featured-post__title-link" %></h2>
                <p class="featured-post__description"><%= @featured_post.description %></p>
              </div>
            </div>

            <div class="col-lg-6"> <!-- Second column (50%) with flexbox for even spacing -->
              
              <% @featured_posts.each do |post| %>
                
                <!-- Render the tile posts -->
                <%= render partial: 'shared/tile_post', locals: { post: post }%>

              <% end %>

            </div>
        </div>

        <div class="row">

          <h2 class="tile-post__sub-title">Latest Posts</h2>


          <div class="post-list row"> <!-- Add the row class -->

          <!-- Left column for blog posts -->
          <div class="col-lg-8 d-flex flex-column justify-content-between"> 

            <% if @published_posts.any? %>
                
              <% @latest_posts.each do |post| %>

                <!-- Render the tile posts -->
                <%= render partial: 'shared/tile_post', locals: { post: post }%>
                
              <% end %>
                
            <% else %>

              <p>Sorry, no posts published</p>
            <% end %>
            
          </div>

          <!-- Right empty column -->
          <div class="col-md-8">
            <!-- Empty for now, but you can put any content here later. -->
          </div>

        </div>
          </div>
          
        </div>

    </div>
</div>


