<!-- Main Image -->
<div class="row justify-content-center">
  <div class="col-lg-10">
    <% if @post.main_image.attached? %>
      <%= image_tag @post.main_image, alt: @post.main_image_alt_text, class: "img-fluid mx-auto d-block" %>
    <% end %>
  </div>
</div>

<!-- Article -->

  <div class="row justify-content-center">
    <div class="col-lg-6 col-md-8">
      <article>
        <h1><%= @post.title.titleize %></h1>

        <div class="metadata">
          <p><%= @post.writer %> on <%= @post.published_at.strftime('%B %d, %Y') %> | <%= read_time(@post.content) %></p>
          <p class="categories">
            <% @post.categories.each do |category| %>
              <%= link_to category.name, category_path(category) %> <!-- assuming you have a category show page -->
              <%= '|' unless category == @post.categories.last %> <!-- adds a comma except for the last category -->
            <% end %>
          </p>
        </div>

        <%= raw @post.content %>         
      </article>        
    </div>
  </div>
















