<h1>Post Authors</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @post_authors.each do |post_author| %>
      <tr>
        <td><%= post_author.name %></td>
        <td><%= link_to 'Show', blog_post_author_path(post_author) %></td>
        <td><%= link_to 'Edit', edit_blog_post_author_path(post_author) %></td>
        <td><%= link_to 'Destroy', blog_post_author_path(post_author), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'New Post Author', new_blog_post_author_path %>
