<!-- app/views/image_resources/_form.html.erb -->

<%= form_with(model: image_resource, local: true, class: 'row g-3') do |form| %>
  <!-- Show errors if any -->
  <% if image_resource.errors.any? %>
    <div class="alert alert-danger" role="alert">
      <h4 class="alert-heading"><%= pluralize(image_resource.errors.count, "error") %> prohibited this image resource from being saved:</h4>
      <ul>
        <% image_resource.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <!-- Preview existing image if available -->
  <% if image_resource.image.attached? %>
    <div class="col-12 mb-3">
      <%= image_tag image_resource.image, alt: image_resource.alt_description, class: "img-fluid rounded" %>
    </div>
  <% end %>

  <div class="col-12">
    <%= form.label :name, class: 'form-label' %>
    <%= form.text_field :name, class: 'form-control' %>
  </div>

  <div class="col-md-6">
    <%= form.label :image, class: 'form-label' %>
    <%= form.file_field :image, class: 'form-control' %>
  </div>

  <div class="col-md-6">
    <%= form.label :alt_description, class: 'form-label' %>
    <%= form.text_field :alt_description, class: 'form-control' %>
  </div>

  <div class="col-12">
  <p>Categories</p>
    <% Category.all.each do |category| %>
      <div class="form-check">
        <%= form.check_box :category_ids, { multiple: true, checked: image_resource.categories.include?(category) }, category.id, nil %>
        <%= form.label "category_#{category.id}", class: 'form-check-label' do %>
          <%= category.name %>
        <% end %>
      </div>
    <% end %>
  </div>

  <div class="col-12">
  <div class="mb-3">
      <%= form.label :tag_list, "Tags" %><br>
      <% ActsAsTaggableOn::Tag.pluck(:name).each do |tag_name| %>
        <div class="form-check">
          <%= check_box_tag 'image_resource[tag_list][]', tag_name, @image_resource.tag_list.include?(tag_name), class: 'form-check-input' %>
          <%= label_tag "image_resource_tag_list_#{tag_name}", tag_name.titleize, class: 'form-check-label' %>
        </div>
      <% end %>
    </div>

    <div class="mb-3">
      <%= form.label :new_tag, "New Tag" %>
      <%= text_field_tag :new_tag, nil, class: "form-control" %>
      <small class="form-text text-muted">Enter a new tag here. This will be added to the list of tags.</small>
    </div>
  </div>


  <div class="col-12">
    <%= form.label :notes, class: 'form-label' %>
    <%= form.rich_text_area :notes, class: 'form-control' %>
  </div>

  <div class="col-12">
    <%= form.submit 'Save', class: 'btn btn-primary' %>
  </div>
<% end %>
