<!DOCTYPE html>
<html>

  <!-- Head -->
  <%= render "shared/head" %>

  <!-- Navbar -->
  <%= render "shared/navbar" %>

  <!-- Notices -->
  <%= render "shared/notices" %>

  <!-- Body -->
  <body data-controller="google-analytics">
    <main>
      <div class="container">
        <%= yield %>
      </div>
    </main>
  </body>

  <!-- Footer -->
  <%= render "shared/footer" %>

</html>
